@import 'normalize';

/* Import components */
@import "components/mixins";
@import "components/variables";

@import "components/base";
// @import "components/grid";

@import "components/navbar";
@import "components/sidemenu";


.container {
  margin-top: 60px;
  width: 100%;
  min-height: 100vw;
  display: flex;

  justify-content: space-around;
  align-items: stretch;
}

.sidebar {
  flex: 0 0 230px;
  color: #FFFFFF;
  background-color: #232323;

  -webkit-font-smoothing: antialiased;
}

.content {
  width: 100%;
}


/*
  The navigation list from the left hand side, has categories and sections..
 */
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 1rem 1.3rem;
    color: #7e7e7e;

    .fa {
      padding-right: 8px;
      font-size: 22px;
      vertical-align: middle;
    }

    .title {
      vertical-align: middle;
    }

    &.active {
      background-color: #161616;

      &:before {
        content: '';
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        border-left: 2px solid #BB250D;
      }
    }
  }
}