@import 'normalize';

/* Import components */
@import "components/mixins";
@import "components/variables";

@import "components/base";
// @import "components/grid";

@import "components/navbar";
@import "components/sidemenu";


.container {
  margin-top: 60px;
  width: 100%;
  min-height: 100vw;
  display: flex;

  justify-content: space-around;
  align-items: stretch;
}

.sidebar {
  padding-top: 20px;
  flex: 0 0 230px;
  color: #FFFFFF;
  background-color: #232323;

  -webkit-font-smoothing: antialiased;
}

.content {
  padding: 20px 2rem;
  width: 100%;
}


/*
  The navigation list from the left hand side, has categories and sections..
 */
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 1rem 1.3rem;
    color: #7e7e7e;
    cursor: pointer;

    .fa {
      padding-right: 8px;
      font-size: 22px;
      vertical-align: middle;
    }

    .title {
      vertical-align: middle;
    }

    &:hover {
      background-color: #161616;
    }

    &.active {
      color: #FFFFFF;
      background-color: #161616;

      &:before {
        content: '';
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        border-left: 2px solid #BB250D;
      }
    }
  }
}

h1 {
  font-family: 'helvetica neue';
  font-weight: 500;
  margin: 7px 10px;

  -webkit-font-smoothing: antialiased;
}


.movies-container {
  margin-top: 15px;

  display: flex;
  flex-flow: row wrap;
  justify-content: left;

  &__item {
    text-decoration: none;
    margin: 10px;
    position: relative;
    width: 171px;
    height: 290px;

    .title {
      @include truncate;
      color: #dd101e;
      text-transform: capitalize;
      font-size: .9em;

      -webkit-font-smoothing: antialiased;
    }

    .time {
      color: #8f8f8f;
      font-size: .8em;

      -webkit-font-smoothing: antialiased;
    }

    img {
      min-height: 256px;
      width: 100%;
    }
  }
}