.movie {
  // Investigate whether I should use a picture pollyfill or
  // mq's for keeping aspect ratio of backdrops
  &__backdrop {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
  }

  &__content {
    padding: 20px 2rem;
    background: rgba(255,255,255,.9);
    margin-top: -50px;
    min-height: 100px;
  }

  &__details {
    width: 80%;
  }
}

.movie_container {
  width: 100%;
}