.movie {
  position: relative;
  // Investigate whether I should use a picture pollyfill or
  // mq's for keeping aspect ratio of backdrops
  &__backdrop {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    position: relative;


    &__play {
      @include play-button (2em, 2em);
    }
  }

  &__content {
    padding: 20px 2rem;
    background: rgba(255,255,255,.9);
    margin-top: -95px;
    min-height: 100px;
    z-index: 90;
    position: relative;
  }

  &__details {
    display: table;
    width: 80%;

    .movie__poster {
      width: 175px;
      padding-right: 2rem;
      display: table-cell;
    }

    &__description {
      vertical-align: top;
      display: table-cell;

      >h1 {
        margin: 0;
        font-weight: 400;
        font-size: 2.5em;

        -webkit-font-smoothing: antialiased;
      }

      >h3 {
        margin: 0;
        margin-bottom: 25px;

        font-weight: 300;
        color: #000002;

        -webkit-font-smoothing: antialiased;
      }

      >p {
        font-size: 15px;
        font-weight: 400;
        color: #000002;

        -webkit-font-smoothing: antialiased;
      }
    }
  }
}

.downloads {
  display: table-row;
}

.movie_container {
  width: 100%;
}