<div class="navbar">
  <div class="navbar__title">
    Moviez.city
  </div>
</div>

<div class="container">
  <div class="sidebar">
    <ul class="nav-list">
      {{#link-to "movies.index" tagName="li" class="nav-list__item" href=false}}
        {{fa-icon icon="home"}}
        <span class="title">Home</span>
      {{/link-to}}
      {{#link-to "lists" tagName="li" class="nav-list__item" href=false}}
        {{fa-icon icon="list"}}
        <span class="title">Lists</span>
      {{/link-to}}
    </ul>

    <div class="nav-list__separator">
      {{fa-icon icon="th-large"}}
      <span class="title">Genres</span>
    </div>

    <ul class="nav-list padded">
      {{#link-to "movies.category" "Action" tagName="li" class="nav-list__item"}}
        Action
      {{/link-to}}
      {{#link-to "movies.category" "Comedy" tagName="li" class="nav-list__item"}}
        Comedy
      {{/link-to}}
    </ul>
  </div>

  <div class="content">
    {{outlet}}
  </div>
</div>